<app-header></app-header>

<!--Main layout-->
<main class="mt-5 pt-5">
    <div class="container">

        <!--Section: Post-->
        <section class="mt-4">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-8 mb-4">

                    <!--Featured Image-->
                    <div class="card mb-4 wow fadeIn">

                        <img src="assets/students.jpg" class="img-fluid" alt="">

                    </div>

                    <app-ajoutq> </app-ajoutq>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-4">

                    <!--Card: Jumbotron-->
                    <div class="card blue-gradient mb-4 wow fadeIn">

                        <!-- Content -->
                        <div class="card-body text-white text-center">

                            <h4 class="mb-4">
                                <strong>Bienvenus en France !</strong>
                            </h4>
                            <p>
                                <strong> Générez votre feuille de route personnalisée en quelques clics. </strong>
                            </p>
                            <p class="mb-4">
                                <strong>Pour commencer dès maintenant à élaborer votre feuille de route veuillez suivre le lien en cliquant sur le bouton ci-dessous</strong>
                            </p>
                            <a target="_blank" href="#" class="btn btn-outline-white btn-md">Commencer
                                <i class="fas fa-map ml-2"></i>
                            </a>

                        </div>
                        <!-- Content -->
                    </div>
                    <!--Card: Jumbotron-->

                    <!--Card : Dynamic content wrapper-->
                    <!--/.Card : Dynamic content wrapper-->

                    <app-ordreq></app-ordreq>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Post-->

    </div>
</main>
<!--Main layout-->

<app-footer></app-footer>
