
<!--Card-->
<div class="card mb-4 wow fadeIn">

    <div class="card-header">Ordre de question </div>

    <!--Card content-->
    <div class="card-body">

        <ul class="list-unstyled" id="liste">
            <li class="media" id=1 >
                <h3><span class="badge badge-primary">1</span></h3>
                <i class="fas fa-arrow-up mr-2 ml-2"></i>
                <i class="fas fa-arrow-down mr-3" onclick = "var wail; wail = document.getElementById('titre2').innerHTML ; document.getElementById('titre2').innerHTML = document.getElementById('titre1').innerHTML; document.getElementById('titre1').innerHTML = wail; var ques ; ques = document.getElementById('ques2').innerHTML ; document.getElementById('ques2').innerHTML = document.getElementById('ques1').innerHTML; document.getElementById('ques1').innerHTML = ques; "></i>
                <div class="media-body">
                    <a href="#">
                        <h5 class="mt-0 mb-1 font-weight-bold" id ="titre1" > Nationnalité</h5>
                    </a>
                  <div id = "ques1">Veuillez indiquer votre nationnalité </div>
                </div>
            </li>
            <li class="media my-4" id=2>
              <h3><span class="badge badge-primary">2</span></h3>
              <i class="fas fa-arrow-up mr-2 ml-2" onclick = "var wail; wail = document.getElementById('titre2').innerHTML ; document.getElementById('titre2').innerHTML = document.getElementById('titre1').innerHTML; document.getElementById('titre1').innerHTML = wail; var ques ; ques = document.getElementById('ques2').innerHTML ; document.getElementById('ques2').innerHTML = document.getElementById('ques1').innerHTML; document.getElementById('ques1').innerHTML = ques; " ></i><br>
              <i class="fas fa-arrow-down mr-3" onclick = "var wail; wail = document.getElementById('titre3').innerHTML ; document.getElementById('titre3').innerHTML = document.getElementById('titre2').innerHTML; document.getElementById('titre2').innerHTML = wail; var ques ; ques = document.getElementById('ques3').innerHTML ; document.getElementById('ques3').innerHTML = document.getElementById('ques2').innerHTML; document.getElementById('ques2').innerHTML = ques; " ></i>
                <div class="media-body">
                    <a href="#">
                        <h5 class="mt-0 mb-1 font-weight-bold" id="titre2"> Date d'entrée en france</h5>
                    </a>
                    <div id = "ques2"> Quelle est la date de votre première entrée en France ?</div>
                </div>
            </li>
            <li class="media" id=3>
              <h3><span class="badge badge-primary">3</span></h3>
              <i class="fas fa-arrow-up mr-2 ml-2" onclick = "var wail; wail = document.getElementById('titre3').innerHTML ; document.getElementById('titre3').innerHTML = document.getElementById('titre2').innerHTML; document.getElementById('titre2').innerHTML = wail; var ques ; ques = document.getElementById('ques3').innerHTML ; document.getElementById('ques3').innerHTML = document.getElementById('ques2').innerHTML; document.getElementById('ques2').innerHTML = ques; " ></i><br>
              <i class="fas fa-arrow-down mr-3" onclick = "var wail; wail = document.getElementById('titre4').innerHTML ; document.getElementById('titre4').innerHTML = document.getElementById('titre3').innerHTML; document.getElementById('titre3').innerHTML = wail; var ques ; ques = document.getElementById('ques4').innerHTML ; document.getElementById('ques4').innerHTML = document.getElementById('ques3').innerHTML; document.getElementById('ques3').innerHTML = ques; " ></i>
                <div class="media-body">
                    <a href="#">
                        <h5 class="mt-0 mb-1 font-weight-bold" id="titre3"> Durée de séjour en france </h5>
                    </a>
                    <div id = "ques3">Quelle est la durée de votre séjour ? </div>
                </div>
            </li>
            <li class="media" id=4>
              <h3><span class="badge badge-primary">4</span></h3>
              <i class="fas fa-arrow-up mr-2 ml-2" onclick = "var wail; wail = document.getElementById('titre4').innerHTML ; document.getElementById('titre4').innerHTML = document.getElementById('titre3').innerHTML; document.getElementById('titre3').innerHTML = wail; var ques ; ques = document.getElementById('ques4').innerHTML ; document.getElementById('ques4').innerHTML = document.getElementById('ques3').innerHTML; document.getElementById('ques3').innerHTML = ques; " ></i><br>
              <i class="fas fa-arrow-down mr-3" onclick = "var wail; wail = document.getElementById('titre5').innerHTML ; document.getElementById('titre5').innerHTML = document.getElementById('titre5').innerHTML; document.getElementById('titre4').innerHTML = wail; var ques ; ques = document.getElementById('ques5').innerHTML ; document.getElementById('ques5').innerHTML = document.getElementById('ques4').innerHTML; document.getElementById('ques4').innerHTML = ques; " ></i>
                <div class="media-body">
                    <a href="#">
                        <h5 class="mt-0 mb-1 font-weight-bold" id="titre4"> Statut</h5>
                    </a>
                    <div id = "ques4">Quel est votre statut (étudiant, stagiaire, doctorant, ...)</div>
                </div>
            </li>
        </ul>

    </div>

</div>
<!--/.Card-->
